.test {
    width: 100%;
    height: 100%;
    
    }

/*.card {
    background-color:aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 
    padding: 10px;
}*/
    
/* to change the background*/
/*.page-content{
    background-color: aquamarine;
}

p{
    color:;
    font-family: 'Encode Sans Expanded', sans-serif;
}

/* color change for top nav bar 
.navbar {
    color:#fff;
    background-color: black;
}

.content-block {
      color:#fff;
    background-color: black;
    
}

/* change color for the about,service,and form list 
.list-block{
    color: aqua;
    background-color: firebrick;
}

/* change color for the list above 
li {
    background-color: ;
}

*/

.panellink li {
    background-color: #111 !important;
    color: white !important;
    
}
.panellink h1{
    color: white;
    text-align: center;
}

