/* Slider */

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Main Page */

#container {
    width: 80%;
    margin: auto;
}

#header {
    margin-bottom: 20px;
}

#header h1 {
    text-align: center;
}

#question {
    text-align: center;
    padding-bottom: 20px
}

#question h3 {
    
}

#box1, #box2, #box3, #box4, #box5 {
    width: 20%;
    height: 50px;
    float: left;
    text-align: center;  
    padding-bottom: 50px
}

#questionTwo, #questionThree, #questionFour, #questionFive, #result {
    display: none;
}

/*polaroid effect*/
div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 8px;
}

img {width: 100%}

div.container {
    text-align: center;
    padding: 10px 20px;
}